<h1 class="heading">Groups</h1>
<hr width="25%"/>

@foreach (var group in ViewBag.Groups)
{
    <p>@group.Name</p>

    <div class="buttons are-small">
        <a asp-controller="Groups" asp-action="Update" asp-route-groupId="@group.Id" class="button is-info">Update</a>
        <a asp-controller="Groups" asp-action="Remove" asp-route-groupId="@group.Id" class="button is-danger">Remove</a>
        <br />
        <br />
    </div>
}

<a asp-controller="Groups" asp-action="Add" class="button is-primary">Add Group</a>
