<h1 class="heading">Groups</h1>
<ul>
    @foreach (var group in ViewBag.Groups)
    {
        <li>
            @group.Name
            <a class="button is-danger" asp-action="Delete" asp-route-id="@group.Id" onclick="return confirm('Are you sure you want to delete @group.Name ?')">Delete</a>
        </li>
    }
</ul>
<br />