<h1 class="heading">Users</h1>
<ul>
    @foreach (var user in ViewBag.Users)
    {
        <li>@user.FirstName @user.LastName</li>
    }
</ul>
<br/>
<a asp-controller="Users" asp-action="Add" class="button is-primary">Add User</a>
<a asp-controller="Users" asp-action="ViewEdit" class="button is-primary">Edit User</a>
<a asp-controller="Users" asp-action="Remove" class="button is-primary">Remove User</a>