<h1 class="heading">Users</h1>
<ul>
    @foreach (var user in ViewBag.Users)
    {
        <li>@user.FirstName @user.LastName</li>
    }
</ul>
<br />
<a asp-controller="Users" asp-action="Add" class="button is-primary">Add User</a>
<a asp-controller="Users" asp-action="Update" class="button is-info">Update User</a>
<a asp-controller="Users" asp-action="Remove" class="button is-danger">Remove User</a>